%p
  %strong= icon('user', student.name)
  %span=icon('phone', student.tel) 
  %span= icon('credit-card', student.id_code)
  %span= student.gender_name
%p
  = student.school
  = student.education
  = icon('certificate',student.school_cert)
%p
  -if student.course 
    %span.label.label-info= "#{student.course.nth}期"
    成绩：
    =number_with_precision(student.score, precision: 1)    || '未录入'
    分
%p
  = student.district_name
  = student.company_name
  = icon('certificate',student.company_code)