%ol.breadcrumb
  %li= link_to '控制面板', control_path
  %li.active="学员管理(报名)"
  
%ul.nav.nav-tabs(role='tablist')
  %li=link_to "未加入课程#{ Student.no_score.no_course.count}" ,students_path(type:'noc')
  %li=link_to "已加入课程#{Student.no_score.with_course.count}",students_path(type:'c')
  %li=link_to "全部#{Student.no_score.count}",students_path
  %li 
    %button#sel_all.btn.btn-info 全选
#msg
=form_tag join_course_students_path, remote: true, id: 'join_form',:'data-type' => 'html' do 
  .panel.panel-body
    .row
      .col-sm-6.col-xs-6
        = select_tag :course,options_from_collection_for_select(Course.recent, "id", "nth"), class: 'form-control'
      .col-sm-6.col-xs-6
        -if params[:type]=='c'
          = hidden_field_tag :todo, 'cancel'
          = submit_tag '取消关联', class: 'btn btn-primary'
        -else
          = submit_tag '关联', class: 'btn btn-primary'
  - @students.each do |student|
    .panel.panel-body
      .col-sm-8.col-xs-12
        =check_box_tag 'sid[]', student.id
        =render partial: 'student', locals:{student: student}
      .col-sm-4.col-xs-12
        %p
          = link_to icon('edit'), edit_student_path(student)
          = link_to icon('trash-o'), student, :method => :delete, :data => { :confirm => '确认删除?' } 
        
=paginate @students

:javascript
  $(document).ready(function(){
    $('#join_form').on('ajax:success', function(e, data, status, xhr){
      $('#msg').addClass('alert alert-info').html(xhr.responseText);
    }).on('ajax:error', function(e, data, status, xhr){
      $('#msg').addClass('alert alert-danger').html(xhr.responseText);
    });

    $('#sel_all').click(function(){
      $('#join_form input[type="checkbox"]').prop('checked', true);
    });
  });
  