-content_for :leftnav do 
  .list-group
    -if can? :manage, User
      = link_to '用户管理', admin_users_path, class:'list-group-item'
    -if can? :manage, Category
      = link_to '页面类型管理', categories_path,class:'list-group-item'
    -if can? :manage, Page
      = link_to '页面管理', pages_path, class:'list-group-item'
    -if can? :manage, Member
      = link_to '会员管理', members_path, class: 'list-group-item'
    -if can? :manage, Message
      = link_to '消息管理', messages_path, class: 'list-group-item'
    -if can? :manage, Course
      = link_to '培训班次管理', courses_path, class: 'list-group-item'
    -if can? :manage, Student
      .dropdown
        %a#studentbtn.dropdown-toggle.list-group-item( data-toggle="dropdown")
          学员管理
          =icon('chevron-right')
        %ul.dropdown-menu.dropdown-menu-right{role: 'menu', 'aria-labelledby'=>"studentbtn"}
          %li{role: "presentation"}= link_to '报名', students_path
          %li{role: "presentation"}= link_to '查询', search_students_path
    -elsif can? :read, Message
      = link_to '消息', messages_path, class: 'list-group-item'
    = link_to '重设密码', edit_user_registration_path, class:'list-group-item'