%section
  .container
    .row
      .col-sm-8
        %h3 
          新闻&通告
        .row
          .col-sm-4
            =image_tag 'newspaper_pictogram.svg', {height: 200, width:200}
          .col-sm-8.large-link
            %ul.list-unstyled
              -for i in 1..7 do
                %li
                  %span.label.label-default=DateTime.current.change(day: -i).to_s(:zh)
                  =link_to '中介信用档案 & 服务评价', '#'
              %li
                %a.pull-left{href: root_path}
                  %span.text-primary.glyphicon.glyphicon-circle-arrow-right
               
      .col-sm-4.large-link
        %h3 
          =image_tag 'shopping_cart.svg', {heigt: 40, width: 40}
          消费者
        %ul.list-unstyled
          %li=link_to "中介信用档案 & 服务评价", '#'
          %li=link_to "购房交易知识", '#'
          %li=link_to "存量房网签【自行交易预签约】", '#'
          %li=link_to "曝光台", '#'
          %li
            %a.pull-left{href: root_path}
              %span.text-primary.glyphicon.glyphicon-circle-arrow-right
        

%section
  .container
    .row.large-link
      .col-sm-4
        %hr
        .row
          .col-xs-8
            %h3 
              %span.glyphicon.glyphicon-registration-mark
              会员
              %a.pull-left{href: root_path}
                %span.text-primary.glyphicon.glyphicon-circle-arrow-right
        %ul.list-unstyled
          %li= link_to "会员权益", '#'
          %li= link_to "法律咨询", '#'
          %li= link_to "市场研究", '#'
          %li= link_to "同行互助", '#'

      .col-sm-4
        %hr
        .row
          .col-xs-8
            %h3 
              %span.glyphicon.glyphicon-link
              中介
              %a.pull-right{href: root_path}
                %span.text-primary.glyphicon.glyphicon-circle-arrow-right
        %ul.list-unstyled
          %li= link_to '存量房网签系统', '#'
          %li= link_to '房屋租赁备案系统', '#'
          %li= link_to '中介服务预受理系统', '#'
          %li= link_to '资格证培训', '#'
          %li= link_to '继续教育培训', '#'
    
      .col-sm-4
        %hr
        .row
          .col-xs-8
           
       
%section
  .container
    %h3 赞助商
    %hr
    - 2.times do 
      .row
        %br
        -3.times do
          .col-sm-4 
            =holder_tag '300x100', 'brand-logo', 'lava'
      
    %br
