<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :title, label: :标题, :input_html => {:class => 'form-control'} %>

    <%= f.input :content, label: :内容, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>

    <%= f.input :ntype, label: :类型, 
      collection: News::TYPES, label_method: :last, value_method: :first%>

    <%= f.input :happend_at, label: :显示日期 , as: :string%>
  </div>

  <div class="form-actions">
    <%= f.button :submit,  "保存"%>
  </div>
<% end %>
<script language='javascript'>
  $(document).ready(function(){
    $('#news_happend_at').datepicker({format: 'yyyy-mm-dd',language:"zh-CN"});
  })
</script>
