<ol class="breadcrumb">
  <li>新闻</li>
</ol>
<% @news.each do |news| %>
  <div>
    <h3>
      <%=link_to news.title, news %>
    </h3>
    <p><%= news.happend_at %><p/>
    <hr/>
    <div class="row">
      <div class="col-xs-2">
        <%if news.first_img_url.nil? then%>
          <%=holder_tag '50x50', "#{news_type_text(news.ntype)}", 'lava' %>
        <%else%>
          <%= image_tag news.first_img_url, {height: 50, width: 50}%>
        <%end%>
      </div>
      <div class="col-xs-8">
        <%=content_preview news.content, 50%>...
      </div>
    </div>
    <p>
      <%= link_to 'Edit', edit_news_path(news) %>
      <%= link_to 'Destroy', news, method: :delete, data: { confirm: '确认删除?' } %>
    </p>    
  </div>
<% end %>
  
<br>
<%= link_to '新建', new_news_path, :class => 'btn btn-info' %>
