<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li><%=link_to '新闻', news_index_path %></li>
  <li class="active"><%= @news.title %></li>
</ol>
<h1>
  <%= @news.title %>
</h1>
<hr/>
<h4>
  <span class='label label-info'>
      <%= @news.happend_at %>
  </span>
  <span class='label label-default pull-right'>
      <%= news_type_text @news.ntype %> 
  </span>
</h4>
<hr/>

<div>
  <%= @news.content.html_safe %>
</div>



<%= link_to '编辑', edit_news_path(@news) %> |
<%= link_to '返回列表', news_index_path %>
