%ol.breadcrumb
  %li= link_to '控制面板', control_path
  %li= link_to '会员单位', members_path
  %li= link_to @member.name, @member
  %li= link_to '缴费情况', member_fees_path(@member)
  %li.active="更新缴费情况#{@fee.year}"

= render 'form'