!!!
%html
  %head
    %title 武汉市房地产中介协会
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/stat'
%body{"class"=> controller.controller_name}
  = render "layouts/navbar"
  /[if lt IE 9]
    %h1.text-danger 您的浏览器版本过低，请使用ie9以上或者google chrome, firefox, safari的最新版本
  .main
    .container
      .row
        .col-sm-2.panel-body
          - if content_for? :leftnav 
            = yield :leftnav
        -if content_for? :right
          .col-sm-7.border-left(style='min-height:750px')
            -if notice 
              .alert.alert-info= notice
            -if alert
              .alert.alert-danger= alert
            = yield
          .col-sm-3
            = yield :right
        -else
          .col-sm-10.border-left(style='min-height:750px')
            -if notice 
              .alert.alert-info= notice
            -if alert
              .alert.alert-danger= alert
            = yield
  .row
    = render 'layouts/footer'
