!!!
%html
  %head
    %title 武汉市房地产中介协会
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body{"class"=> controller.controller_name}
  = render "layouts/navbar"
  .main
    .container
      .row
        .col-sm-2.panel-body
          - if content_for? :leftnav 
            = yield :leftnav
        .col-sm-8.border-left(style='min-height:750px')
          -if notice 
            .alert.alert-info= notice
          -if alert
            .alert.alert-danger= alert
          = yield
        .col-sm-2
          - if  content_for? :right  
            = yield :right
  .row
    = render 'layouts/footer'