!!!
%html
  %head
    %title 武汉市房地产中介协会
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body{"class"=> controller.controller_name}
  = render "layouts/navbar"
  .main
    .container
      %section
        -if notice.present? then
          .alert.alert-info= notice
        -if alert.present? then
          .alert.alert-warning= alert
      = yield
  .row= render 'layouts/footer'