!!!
%html
  %head
    %title 武汉市房地产中介协会
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/stat'
%body{"class"=> controller.controller_name}
  /[if lt IE 9]
    %h1.text-danger 您的浏览器版本过低，请使用ie9以上或者google chrome, firefox, safari的最新版本
  = render "layouts/navbar"
  .main
    .container
      %section
        -if notice.present? then
          .alert.alert-info= notice
        -if alert.present? then
          .alert.alert-warning= alert
      = yield
  .row= render 'layouts/footer'