= form_for @member,:html => { :multipart => true } do |f|
  - if @member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@member.errors.count, "error")} prohibited this member from being saved:"
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, '公司名称'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :address, '地址'
    = f.text_field :address, class: 'form-control'
  .form-group
    = f.label :tel, '公司电话'
    = f.text_field :tel, class: 'form-control'
  .form-group
    .row
      .col-sm-6
        = f.label :legal_person, '法人'
        = f.text_field :legal_person, class: 'form-control'
      .col-sm-6
        = f.label :legal_tel, '电话'
        = f.text_field :legal_tel, class: 'form-control'
  .form-group
    .row
      .col-sm-6
        = f.label :contract, '联系人'
        = f.text_field :contract, class: 'form-control'
      .col-sm-6
        = f.label :contract_tel, '电话'
        = f.text_field :contract_tel, class: 'form-control'
  .form-group
    = f.label :url, '网址'
    = f.text_field :url, class: 'form-control'
  .form-group
    .row
      .col-sm-9
        = f.label :logo, 'Logo'
        = f.file_field :avatar :logo, class: 'form-control'
      .col-sm-3
        = f.label :type, '会员类型'
        = f.select :type, options_from_collection_for_select(Member::TYPES, :first, :last), { include_blank: true },class: 'form-control'
  .actions
    = f.submit '保存', class: 'btn btn-primary'
