.panel-body
  = form_for @member,:html => { :multipart => true } do |f|
    - if @member.errors.any?
      .alert.alert-danger 请修正后重新提交

    .form-group
      = f.label :name, '公司名称'
      = f.text_field :name, class: 'form-control'
      %p=error_text @member.errors, :name
    .form-group
      = f.label :address, '地址'
      = f.text_field :address, class: 'form-control'
      %p=error_text @member.errors, :address
    .form-group
      = f.label :tel, '公司电话'
      = f.text_field :tel, class: 'form-control'
      %p=error_text @member.errors, :tel
    .form-group
      .row
        .col-sm-6
          = f.label :legal_person, '法人'
          = f.text_field :legal_person, class: 'form-control'
          %p=error_text @member.errors, :legal_person
        .col-sm-6
          = f.label :legal_tel, '电话'
          = f.text_field :legal_tel, class: 'form-control'
          %p=error_text @member.errors, :legal_tel
    .form-group
      .row
        .col-sm-6
          = f.label :contract, '联系人'
          = f.text_field :contract, class: 'form-control'
          %p=error_text @member.errors, :contract
        .col-sm-6
          = f.label :contract_tel, '电话'
          = f.text_field :contract_tel, class: 'form-control'
          %p=error_text @member.errors, :contract_tel
    .form-group
      = f.label :url, '网址'
      = f.url_field :url, class: 'form-control'
      %p=error_text @member.errors, :url
    .form-group
      .row
        .col-sm-6
          - unless @member.logo.url =~ /missing.png/ 
            = image_tag @member.logo.url(:medium)
          - else
            = holder_tag '180x100', '暂无图像', 'sky'
          = f.label :logo, '上传Logo', class: 'btn btn-info'
          = f.file_field :logo, style:"opacity:0"
        .col-sm-3
          = f.label :mtype, '会员类型'
          = f.select :mtype, options_from_collection_for_select(Member::TYPES, :first, :last, @member.mtype), { include_blank: true },class: 'form-control'
          %p=error_text @member.errors, :mtype
    .actions
      = f.submit '保存', class: 'btn btn-primary'
